@model ControleNotasFiscais.Models.NotaFiscal

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="EmpresaId"></label>
        <select asp-for="EmpresaId" asp-items="ViewBag.Empresas" class="form-control">
            <option value="">Selecione uma Empresa</option>
        </select>
        <span asp-validation-for="EmpresaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Valor"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TipoCompra"></label>
        <input asp-for="TipoCompra" class="form-control" />
        <span asp-validation-for="TipoCompra" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataCompra"></label>
        <input asp-for="DataCompra" class="form-control" type="date" />
        <span asp-validation-for="DataCompra" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario"></label>
        <input asp-for="Usuario" class="form-control" />
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="image">Upload da Imagem</label>
        <input type="file" name="image" class="form-control" />
        <span asp-validation-for="CaminhoImagem" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
